
    <h1> Breaking Bread</h1>
    <div class="welcome-card">
        <p>Lets get started</p>
            <button class="btn">Start Sharing!</button>
        </p>
    </div>
    <script src="js/homepage.js"></script>