<div class="welcome-window">
    <div class="breaking-bread">
        <h1> Breaking Bread</h1>
    </div>
    <div class="welcome-card">
        <p id="started">Lets get started</p>
        <button class="btn">Start Sharing!</button>
    </div>
</div>
<script src="js/homepage.js"></script>