<div class="profile-window">
    <div>

        <h2 class="userHeader">{{name}}'s Kitchen</h2>

    </div>
    <div>
        <div class="recipe-window">
            {{#each recipes}}
            <div class="recipe-card">
                <div>
                    <h2>
                        <a href="/recipes/{{id}}">{{name}}</a>
                    </h2>
                </div>
                <div>
                    <p>
                        {{description}}
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>