/* Main Style Sheet */

/* universal styling */
* {
    width: auto;
    height: fit-content;
    font-family: sans-serif;
}

/* root styling */

:root {
    --kyogre: #194E8A;
    --miku: #4ECDC4;
    --latte: #d6c898;
    --espresso: #685927;
    --latias: #FF6B6B;
    --black: #000000;
    --smoke: #b6b6b6;
}

h1 {
    font-weight: bold;
}

body {
    background: linear-gradient(var(--latte) 0, var(--latte) 25%, var(--latias));
    background-size: 100vw 100vh;
    margin: 0;
}

p {
    padding: 10px;
}

/* All nav bar styles */
nav {
    display: flex;
    background-color: var(--black);
    color: var(--miku);
    height: 50px;
    padding: 0;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;
}

.nav-list{
    display: flex;
}

.nav-list a {
    color: var(--miku);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    padding: 13px;
    border-radius: 8px;
}

#home-btn{
    border-radius: 0 8px 8px 20px;;
}

.login a,
.logout a{
    border-radius: 8px 0 20px 8px;;
}

.nav-list a:hover {
    color: var(--latias);
    background-color: var(--miku);
}

/* main container where our body goes */
.main-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* login/signup styles */

.login-box{
    background-color: var(--smoke);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.login-window,
.signup-window{
    text-align: center;
    /* margin: 0 auto; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}


form .form-group {
    display: block;
    margin: 0.625rem auto;
    padding: 0;
}

form .login-form, 
form .signup-form{
    text-align: center;
}

form .form-input,
form .form-textarea {
    text-align: center;
}

form label,
form .form-label {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.625rem 0 0.25rem 0.3rem;
    width: 100%;
}

form .form-input {
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
}

form .form-input.form-input-squared {
    border-radius: 0;
}

form [type='checkbox'],
form [type='radio'] {
    display: inline-block;
}

label form [type='checkbox'],
label form [type='radio'] {
    display: inline-block;
}

/* universal button style */
.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: white;
    background-color: var(--kyogre);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--miku);
}

/* recipe styles */
.recipe-card {
    width: 25%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding-left: 5px;
}

.hidden {
    display: none;
}
