/* Main Style Sheet */

/* universal styling */
* {
    width: auto;
    height: fit-content;
    font-family: sans-serif;
}

/* root styling */

:root {
    --kyogre: #194E8A;
    --miku: #4ECDC4;
    --latte: #d6c898;
    --espresso: #685927;
    --latias: #FF6B6B;
    --black: #000000;
    --smoke: #807f7f80;
}

body {
    background: linear-gradient(var(--latte) 0, var(--latte) 25%, var(--latias));
    background-size: 100vw 100vh;
    margin: 0;
}

/* All nav bar styles */
nav {
    display: flex;
    background-color: var(--black);
    color: var(--miku);
    height: 50px;
    padding: 0;
    border-radius: 0 0 30px 30px;
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.nav-list a {
    color: var(--miku);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    padding: 13px;
    border-radius: 8px;
}

.nav-list a:hover {
    color: var(--kyogre);
    background-color: var(--miku);
}

#home-btn {
    border-radius: 0 0 0 30px;
    ;
}

#recipe-in {
    border-radius: 0;
}

#recipe-out {
    border-radius: 0 8px 8px 0;
}

#profile-in {
    border-radius: 0 8px 8px 0;
}

.login a,
.logout a {
    border-radius: 8px 0 30px 8px;
    ;
}

#logout {
    cursor: pointer;
}


/* main container where our body goes */
.main-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* login/signup styles */

.login-box {
    background-color: var(--smoke);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.login-window,
.signup-window {
    text-align: center;
    /* margin: 0 auto; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}


form .form-group {
    display: block;
    margin: 0.625rem auto;
    padding: 0;
}

form .login-form,
form .signup-form {
    text-align: center;
}

form .form-input,
form .form-textarea {
    text-align: center;
}

form label,
form .form-label {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.625rem 0 0.25rem 0.3rem;
    width: 100%;
}

form .form-input {
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
}

form .form-input.form-input-squared {
    border-radius: 0;
}

form [type='checkbox'],
form [type='radio'] {
    display: inline-block;
}

label form [type='checkbox'],
label form [type='radio'] {
    display: inline-block;
}

/* universal button style */
.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: white;
    background-color: var(--kyogre);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--miku);
}

/* homepage styles */
.welcome-window {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    text-align: center;
}



.welcome-card {
    display: block;
    background: var(--smoke);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}



.breaking-bread {
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* recipe styles */

.recipe-window {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.recipe-Creator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.create1,
.create2,
.create3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.recipe-card {
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background: var(--smoke);
    margin: 10px;
}

#recipeDescription{
    min-width: 4rem;
}

.recipe-card a {
    text-decoration: none;
}

/* Profile Styles */

.profile-window {
    display: block;
    text-align: center;
}

.userHeader,
#recipe-start {
    text-align: center;
}

/* User Styles */

.hidden {
    display: none;
}